html,
body,
#app {
  height: 100%;
  width: 100%;
}

.page-module {
  padding: 0 0 20px 0;
}

.module-header {
  padding: 20px 30px;
  background-color: $bg-grey;
  border-bottom: 1px solid $border-grey;
  h3 {
    font-size: 24px;
    color: $text-grey;
  }
}

.module-content {
  padding: 20px;
}

.module-content:fullscreen {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.panel:fullscreen,
.panel:-webkit-full-screen,
.panel:-moz-full-screen {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sidenav {
  height: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 8;
  width: 200px;
  min-width: 200px;
  background-color: #48576a;
  a {
    display: block;
    color: $black;
    padding: 10px 10px 10px 20px;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $blue;
    }
  }
  .active {
    text-decoration: none;
    color: $blue;
  }
  .title {
    padding: 15px;
    font-size: $font-large;
    position: relative;
  }
}

.nav-collapse {
  .caret {
    transform: rotate(-90deg);
  }
  .sndnav {
    display: none;
  }
}

@media (max-width:768px) {
  .page-module {
    padding: 0;
  }
  .module-content {
    padding: 5px;
  }
  .sidenav,
  .sidenav-placeholder {
    display: none;
  }
  .menu-expand {
    .menu {
      background-color: $dark-blue;
    }
    .sidenav {
      display: block;
    }
    .sidenav-placeholder {
      display: block;
    }
  }
}
