#app {
  .sidenav {
    .el-submenu__title:hover {
      text-decoration: none;
      color: $brand;
    }
    .el-menu-item.is-active,
    .el-menu-item:hover {
      color: $brand;
      .icon {
        color: $brand;
      }
    }
    .el-submenu .el-menu {}
    .el-submenu .el-menu-item:hover {
      color: $brand;
    }
  }

  .el-dropdown-menu {
    min-width: 150px;
    .icons {
      vertical-align: middle;
      width: 1.3rem;
      height: 1.3rem;
      margin: 0 .5em .3em .1em;
    }
  }
}