// color
$brand: #03a9f4;          // theme color

$header-bg: #130c0e;

$bg-grey: #fafcff;
$input-grey: #f2f4f7;
$text-grey: #707780;
$icon-grey: #707780;

$border-grey: #d7dce5;
$border-black: #7a8ba9;

$black: #333333;
$red: #fa0101;
$grey: #e8ebf1;

// size
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

// height
$header-height: 60px;

// width
$sidenav-width: 200px;
