// color
$blue: #03a9f4;           // header
$dark-blue: #0c82df;      // header hover

$header-bg: #4c4c4c;
$grey: #e8ebf1;           // body bg
$bg-grey: #fafcff;        // module-header bg
$input-grey: #f2f4f7;     // module-header bg
$text-grey: #707780;
$border-grey: #d7dce5;
$border-black: #7a8ba9;

$black: #333;             // font color
$red: #fa0101;

// size
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

// height
$header-height: 60px;

// width
$sidenav-width: 200px;
