<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue-Boilerplate-Template</title>
    <meta name="description" content="Vue-Boilerplate-Template">
    <meta name="keywords" content="Vue;Boilerplate;Template;Webpack;Vue-Router;Vuex;">
    <meta name="viewport" content="user-scalable=no, width=device-width,initial-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script  src="<%= webpackConfig.output.publicPath %>static/js/vendor.dll.js"></script>
  </body>
  </body>
</html>
